:root {
  --bg: #fafafa;
  --font: "Archivo", sans-serif;
  --font-display: "Archivo Narrow", sans-serif;
  --hotpink: rgba(9, 9, 121, 1);
  --orange: rgba(0, 212, 255, 1);
  --gradient: linear-gradient(35deg, var(--orange), var(--hotpink));
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  min-height: 100vh;
  background: var(--bg);
  font-family: var(--font);
}
